{
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 120,
    "semi": true,
    "singleAttributePerLine": false,
    "singleQuote": true,
    "vueIndentScriptAndStyle": false,
    "plugins": [
        "prettier-plugin-organize-attributes",
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "tailwindFunctions": ["clsx", "cn"],
    "tabWidth": 4,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
